.body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.link--upper {
    text-transform: uppercase;
}
.link--dec {
    text-decoration: none;
}
.row {
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    position: relative;
    display: flex;
}
.header {
    background-color: #443c3c;
    height: 100px;
    border-bottom: 5px solid black;
}
.block {
    width: 40%;
    min-width: 150px;
    min-height: 100px;
    background-color: black;
    border: 1px solid white;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);

}
.left {
    float: left;
    margin: 10px 0 10px 20px;

}
.right {
    float: right;
    margin: 10px 20px 10px 0;
}
.content {
    min-height: 595px;

}
.footer {
    background: #da9077;
    height: 60px;
}
.post_item:last-child {
    margin-bottom: 10px;
    border-bottom: none;
}
.post_item {
    border-top: 5px solid #443c3c;
    padding: 10px 20px 5px 10px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.post_title h2 {
    margin: 0;
}
.post_title a:hover {
    color: #4d5f25;
}
.post_title a {
    color: #443c3c;
    font-family: 'Russo One', sans-serif;
}
.post_prew p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.7;
}
.post_date {
    font-size: 12px;
    color: #7f8c8d;
}
.post_more {
    padding-left: 5px;

}
.post_more a:hover {
    color: #4d5f25;
}
.post_more a {
    color: #851f10;
}
.logo {

    width: 200px;
    height: 100px;
}
/*.logo_icon {
    display: block;
    position: relative;
    top: 2px;
    left: 87px;
    width: 40px;
}
*/
.logo_text {
    display: block;
    position: relative;
    top: 40px;


}
.logo_text a {
    font-family: 'Caveat', cursive;
    text-decoration: none;
    color: white;
    font-size: 50px;
}
.profile_menu {
    float: right;
    width: 120px;
    height: 100px;
    background-color: grey;
}
.main_menu {
    position: absolute;
    top: 63px;
    left: 220px;
    float:left;
}
.menu {
    padding: 0;
    margin: 0;
    list-style:none;

}
.menu li {
    display: inline-block;
    margin-right: -6px;
}
.menu a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    background-color: white;
    padding: 5px;
    border-top: 4px solid black;
    font-family: 'Caveat', cursive;



}
.menu li :hover {
    text-decoration: underline;
    color: #4d5f25;
}