    {% load staticfiles %}
    <DOCTYPE Html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/css?family=Caveat:700|Russo+One|Roboto" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
            <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <title>>MonterX</title>
        </head>
        <body class="layout">
            <div class="layout__viewport">
                <div class="layout__primary">
                    <header>
                        <div class="row">
                            <div class="header-logo">
                                <div class="header-logo__text">
                                    <a href="/">MonterX</a>
                                </div>
                            </div>
                            <div class="header-menu__btn">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <nav class="header-menu">
                                <ul class="header-menu__menu">
                                    <li><a href="">О нас</a></li>
                                    <li><a href="">Переславь</a></li>
                                    <li><a href="">Драмчик</a></li>
                                    <li><a href="">Сигаретка</a></li>
                                </ul>
                            </nav>
                            <div class="header-profile">121212
                                {% if user.is_authenticated %}
                                Name:{{ user.username }} <br>
                                <a href="{% url 'post_new' %}">post_new</a>
                                {% endif %}
                            </div>
                        </div>
                    </header>

                    <div class="content">
                        <div class="row">
                            {% block post_list %}
                            {% endblock %}
                        </div>
                    </div>
                    <footer>
                        <div class="row">foot-er..
                        </div>
                    </footer>
                </div>
                <div class="layout__nav-mobile">
                    <div class="nav-mobile-box">
                        <div class="nav-mobile-box__head">Главное меню</div>
                        <ul class="nav-mobile-box__menu">
                            <li><a href="">О нас</a></li>
                            <li><a href="">Переславь</a></li>
                            <li><a href="">Драмчик</a></li>
                            <li><a href="">Сигаретка</a></li>
                        </ul>
                    </div>
                    <div class="nav-mobile-box">
                        <div class="nav-mobile-box__head">Личка..</div>
                        {% if user.is_authenticated %}
                        Name:{{ user.username }} <br>
                        <a href="{% url 'post_new' %}">post_new</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        <script src="{% static 'js/btn_hamburger.js' %}"></script>
        </body>
    </html>