/* line 11, ../../sass/style.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 17, ../../sass/style.scss */
.layout,
.layout__viewport,
.layout__primary {
  height: 100%;
}

/* line 22, ../../sass/style.scss */
.layout__primary {
  margin: 0;
  position: relative;
  left: 0;
  transition: left 0.4s;
}

/* line 31, ../../sass/style.scss */
header {
  background-color: #443c3c;
  height: 100px;
  width: 100%;
  border-bottom: 5px solid black;
  margin-bottom: 15px;
}
/* line 37, ../../sass/style.scss */
header .row {
  align-items: center;
  justify-content: space-around;
}
/* line 41, ../../sass/style.scss */
header .header-logo {
  width: 200px;
  height: 100px;
}
/* line 44, ../../sass/style.scss */
header .header-logo .header-logo__text {
  display: block;
  position: relative;
  top: 40px;
}
/* line 48, ../../sass/style.scss */
header .header-logo .header-logo__text a {
  font-family: 'Caveat', cursive;
  text-decoration: none;
  color: white;
  font-size: 50px;
}
/* line 55, ../../sass/style.scss */
header .header-menu {
  width: 348px;
  position: relative;
  top: 29px;
}
/* line 59, ../../sass/style.scss */
header .header-menu .header-menu__menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 63, ../../sass/style.scss */
header .header-menu .header-menu__menu li {
  display: inline-block;
  margin-right: -6px;
}
/* line 66, ../../sass/style.scss */
header .header-menu .header-menu__menu li :hover {
  text-decoration: underline;
  color: #4d5f25;
}
/* line 71, ../../sass/style.scss */
header .header-menu .header-menu__menu a {
  font-family: 'Caveat', cursive;
  text-decoration: none;
  font-size: 25px;
  color: black;
  background-color: white;
  padding: 5px;
  border-top: 4px solid black;
}
/* line 81, ../../sass/style.scss */
header .header-profile {
  width: 120px;
  height: 100px;
  background-color: grey;
}

/* line 89, ../../sass/style.scss */
.header-menu__btn {
  display: none;
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
/* line 103, ../../sass/style.scss */
.header-menu__btn span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/* line 120, ../../sass/style.scss */
.header-menu__btn span:nth-child(1) {
  top: 0px;
}
/* line 121, ../../sass/style.scss */
.header-menu__btn span:nth-child(2), .header-menu__btn span:nth-child(3) {
  top: 18px;
}
/* line 122, ../../sass/style.scss */
.header-menu__btn span:nth-child(4) {
  top: 36px;
}
/* line 124, ../../sass/style.scss */
.header-menu__btn.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
/* line 130, ../../sass/style.scss */
.header-menu__btn.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 137, ../../sass/style.scss */
.header-menu__btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 144, ../../sass/style.scss */
.header-menu__btn.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* line 151, ../../sass/style.scss */
.row {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

/* line 158, ../../sass/style.scss */
.content {
  min-height: 87%;
}
/* line 160, ../../sass/style.scss */
.content .row {
  flex-direction: column;
}

/* line 165, ../../sass/style.scss */
.post {
  border-top: 5px solid #443c3c;
  padding: 10px 20px 5px 10px;
  margin-bottom: 15px;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

/* line 174, ../../sass/style.scss */
.post-prolog__title h2 {
  margin: 0;
}
/* line 177, ../../sass/style.scss */
.post-prolog__title a {
  color: #443c3c;
  font-family: 'Russo One', sans-serif;
}
/* line 178, ../../sass/style.scss */
.post-prolog__title a:hover {
  color: #4d5f25;
}

/* line 184, ../../sass/style.scss */
.post-prolog__date {
  font-size: 12px;
  color: #7f8c8d;
}

/* line 189, ../../sass/style.scss */
.post-prew p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7;
}

/* line 195, ../../sass/style.scss */
.post-epilog__more {
  padding-left: 5px;
}
/* line 197, ../../sass/style.scss */
.post-epilog__more a {
  color: #851f10;
}
/* line 199, ../../sass/style.scss */
.post-epilog__more a:hover {
  color: #4d5f25;
}

/* line 204, ../../sass/style.scss */
.layout__nav-mobile {
  transition: right 0.4s;
  background-color: #e4eae6;
  width: 150px;
  height: 100%;
  position: fixed;
  right: -165px;
  top: 95px;
  border: 1px solid #736767;
  bottom: 0;
  box-shadow: 0 0 20px #000000;
  z-index: 125;
  overlow: auto;
}
/* line 217, ../../sass/style.scss */
.layout__nav-mobile .nav-mobile__box {
  min-height: 50px;
  padding: 5px;
  border-bottom: 2px solid black;
}
/* line 221, ../../sass/style.scss */
.layout__nav-mobile .nav-mobile__box .nav-mobile__head {
  font-weight: 700;
  padding: 10px;
  font-family: 'Russo One', sans-serif;
  border-bottom: 1px solid #736767;
}
/* line 227, ../../sass/style.scss */
.layout__nav-mobile .nav-mobile__box .nav-mobile__menu {
  list-style: none;
  margin: 0;
  padding: 10px;
}
/* line 231, ../../sass/style.scss */
.layout__nav-mobile .nav-mobile__box .nav-mobile__menu li {
  margin-bottom: 5px;
}
/* line 234, ../../sass/style.scss */
.layout__nav-mobile .nav-mobile__box .nav-mobile__menu a {
  text-decoration: none;
  font-family: 'Russo One', sans-serif;
  color: #443c3c;
}

/* line 243, ../../sass/style.scss */
footer {
  background-color: #443c3c;
  border-top: 5px solid black;
  height: 100px;
}

@media (max-width: 866px) {
  /* line 250, ../../sass/style.scss */
  .row {
    width: 95%;
  }

  /* line 252, ../../sass/style.scss */
  .header-menu, .header-profile {
    display: none;
  }

  /* line 256, ../../sass/style.scss */
  .header-menu__btn {
    display: block;
  }

  /* line 260, ../../sass/style.scss */
  header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 120;
  }

  /* line 268, ../../sass/style.scss */
  .content {
    margin-top: 115px;
  }

  /* line 272, ../../sass/style.scss */
  .layout__viewport--pushed {
    overflow: hidden;
    height: 100%;
  }
  /* line 275, ../../sass/style.scss */
  .layout__viewport--pushed .layout__primary {
    left: -150px;
  }
  /* line 278, ../../sass/style.scss */
  .layout__viewport--pushed .layout__nav-mobile {
    right: 0;
  }
}
