$main_grey: #443c3c;
$main_green: #4d5f25;
$main_red: #851f10;
$width_viewport: 866px;

@mixin link_decor {
    font-family: 'Caveat', cursive;
    text-decoration: none;
}

html,body {
    margin: 0;
    padding: 0;
}


.layout {
    height: 100%;
    &__primary, &__viewport {
        height: 100%;
    }
    &__primary {
        margin: 0;
        position: relative;
        left: 0;
        transition: left 0.4s;
    }
}

.row {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: $main_grey;
    height: 100px;
    width: 100%;
    border-bottom: 5px solid black;
    margin-bottom: 15px;
    .row {
        align-items: center;
        justify-content: space-around;
    }
}
.header {
    &-logo {
        width: 200px;
        height: 100px;
        &__text {
            display: block;
            position: relative;
            top: 40px;
            a {
                @include link_decor;
                color: white;
                font-size: 50px;
            }
        }
    }
    &-menu {
        width: 348px;
        position: relative;
        top: 29px;
        &__menu {
            padding: 0;
            margin: 0;
            list-style:none;
            li {
                display: inline-block;
                margin-right: -6px;
                & :hover {
                    text-decoration: underline;
                    color: $main_green;
                }
            }
            a {
                @include link_decor;
                font-size: 25px;
                color: black;
                background-color: white;
                padding: 5px;
                border-top: 4px solid black;
            }
        }
    }
    &-profile {
        width: 120px;
        height: 100px;
        background-color: grey;
    }
}

.header-menu__btn {
      display: none;
      width: 60px;
      height: 45px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
      span {
          display: block;
          position: absolute;
          height: 9px;
          width: 100%;
          background: #ffffff;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
          &:nth-child(1) {top: 0px;}
          &:nth-child(2),&:nth-child(3) {top: 18px;}
          &:nth-child(4) {top: 36px;}
        }
      &.open span:nth-child(1) {
          top: 18px;
          width: 0%;
          left: 50%;
      }

      &.open span:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
      }

      &.open span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
      }

      &.open span:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%;
      }
}

.content {
    min-height: 87%;
    .row {
        flex-direction: column;
    }
}

.post {
    border-top: 5px solid #443c3c;
    padding: 10px 20px 5px 10px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    &-prolog__title {
        h2 {
            margin: 0;
        }
        a {
            &:hover {color: $main_green;}
            color: $main_grey;
            font-family: 'Russo One', sans-serif;
        }
    }
    &-prolog__date {
        font-size: 12px;
        color: #7f8c8d;
    }
    &-prew p {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 1.7;
    }
    &-epilog__more {
        padding-left: 5px;
        a {
            color: $main_red;
            &:hover {color: $main_green;}
        }
    }
}

.layout__nav-mobile {
    transition: right 0.4s;
    background-color: #e4eae6;
    width: 150px;
    height: 100%;
    position: fixed;
    right: -165px;
    top: 95px;
    border: 1px solid #736767;
    bottom: 0;
    box-shadow: 0 0 20px #000000;
    z-index: 125;
    overflow: auto;
    .nav-mobile-box {
        min-height: 50px;
        padding: 5px;
        border-bottom: 2px solid black;
        &__head {
            font-weight: 700;
            padding: 10px;
            font-family: 'Russo One', sans-serif;
            border-bottom: 1px solid #736767;
        }
        &__menu {
            list-style: none;
            margin: 0;
            padding: 10px;
            li {
                margin-bottom: 5px;
            }
            a {
                text-decoration: none;
                font-family: 'Russo One', sans-serif;
                color: $main_grey;
            }
        }
    }
}

footer {
    background-color: $main_grey;
    border-top: 5px solid black;
    height: 100px;
}

@media (max-width: $width_viewport) {
    .row {width: 95%;}

    .header-menu, .header-profile {
        display: none;
    }

    .header-menu__btn {
        display: block;
    }

    header {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 120;

    }

    .content {
        margin-top: 115px;
    }

    .layout__viewport--pushed {
        overflow: hidden;
        height: 100%;
        .layout__primary {
            left: -150px;
        }
        .layout__nav-mobile {
            right: 0;
        }
    }
}