    {% extends 'blog/base.html' %}

    {% block post_list %}
        <div class="post_item">
            <div class="post_prolog">
                <div class="post_title">
                    <h2><a href="{% url 'post_detail' pk=post.pk %}" class="link--upper link--dec">{{ post.title }}</a></h2>
                </div>
                <div class="post_date">
                    {{ post.published_date }}
                </div>
            </div>
            <div class="post_prew">
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        </div>
    {% endblock %}